version: '2'
services:
  rabbitmq:
    image: rabbitmq:management
    ports:
      - "5672:5672"
      - "15672:15672"
#  activiti-cloud-sso-idm:
#    image: activiti/activiti-cloud-sso-idm:7-201712-EA
#    ports:
#      - "8180:8180"
