version: '2'
services:
  activiti-cloud-audit:
    image: activiti/activiti-cloud-audit:7-201802-EA
    external_links:
      - activiti-cloud-sso-idm
      - activiti-cloud-registry
      - rabbitmq
    environment:
      - ACT_AUDIT_PORT=8181
      - JAVA_OPTS=-Xmx128m -Xms128m
      - ACT_CLOUD_CONFIG_SERVER_ENABLED=false
    # activiti-cloud-audit:
        # image: activiti/activiti-cloud-audit-mongodb:latest
        # external_links:
          # - activiti-cloud-sso-idm
          # - rabbitmq
          # - activiti-cloud-registry
        # depends_on:
          # - mongo
        # environment:
          # - ACT_AUDIT_PORT=8181
          # - ACT_AUDIT_MONGO_HOST=mongo
          # - ACT_AUDIT_MONGO_PORT=27017
          # - ACT_AUDIT_MONGO_DB=activitidb
    # mongo:
        # image: mongo
        # ports:
         # - "27017:27017"
  activiti-cloud-query:
    image: activiti/activiti-cloud-query:7-201802-EA
    ports:
      - 8182:8182
    external_links:
      - activiti-cloud-sso-idm
      - activiti-cloud-registry
      - rabbitmq
    environment:
      - ACT_QUERY_PORT=8182
      - JAVA_OPTS=-Xmx128m -Xms128m
      - ACT_CLOUD_CONFIG_SERVER_ENABLED=false
      - ACT_QUERY_DB_URI=jdbc:postgresql://rb-postgres:5432/activitidb
      - ACT_QUERY_DB_USER=postgres
      - ACT_QUERY_DB_PASS=password
      - ACT_QUERY_DB_PLATFORM=org.hibernate.dialect.PostgreSQLDialect
      - SPRING_ACTIVITI_CLOUD_SERVICES_NOTIFICATIONS_GATEWAY_ENABLED=true
      - SPRING_ACTIVITI_CLOUD_SERVICES_QUERY_GRAPHQL_ENABLED=true
      - SPRING_HATEOAS_USEHALASDEFAULTJSONMEDIATYPE=false
  # We define the name and the base image of our Runtime Bundle
  rb-my-app:
      # Set image: to whichever you are using
      # This image was generated by the docker-runtime-bundle/Dockerfile
      image: activiti/example-runtime-bundle:7-201802-EA
      # This image was generated by the maven-runtime-bundle project
      #image: rb-my-maven-app
      external_links:
        - activiti-cloud-sso-idm
        - activiti-cloud-registry
        - rabbitmq
      depends_on:
        - rb-postgres
      # You can launch as many Runtime Bundles as you want by changing these Env variables
      environment:
        - ACT_RB_PORT=8081
        - ACT_RB_HOST=rb-my-app
        - ACT_RB_APP_NAME=rb-my-app
        - ACT_RB_DB_URI=jdbc:postgresql://rb-postgres:5432/activitidb
        - ACT_RB_DB_USER=postgres
        - ACT_RB_DB_PASS=password
        - ACT_RB_DB_PLATFORM=org.hibernate.dialect.PostgreSQLDialect
        - JAVA_OPTS=-Xmx256m -Xms256m
        - ACT_CLOUD_CONFIG_SERVER_ENABLED=false
        - SPRING_HATEOAS_USEHALASDEFAULTJSONMEDIATYPE=false
      networks:
        - infrastructure
  # We decided to configure our runtime bundle against a PostgreSQL instance
  rb-postgres:
    image: postgres
    ports:
     - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=postgres
      - POSTGRES_DB=activitidb
    networks:
      - infrastructure
# we will join the infrastructure network defined by the infrastructure docker compose.
networks:
  infrastructure:
    external:
      name: docker_default
